.board{
  width: 15em;
  height: 10em;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/3474x2048/c996991f6ef082a137a219013a74f1bc/photo-1474487548417-781cb71495f3");
  background-size: cover;
  border-radius: 0.3em;
  padding: 1em 2em;
  margin: 0.36em;
  color: white;
}
.remove-text-decoration {
  text-decoration: none;
}
.trello-boards-board {
  width: 15em;
  height: 10em;

  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/3474x2048/c996991f6ef082a137a219013a74f1bc/photo-1474487548417-781cb71495f3");
  background-size: cover;
  border-radius: 0.6em;

  padding: 1em 2em;
  margin: 0.36em;

  color: white;
}
.yyy{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.navbar {
  background-color: blue;
  padding: 0 2.5em !important;
}
.navbar-home {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 0.66em 0;
}
.navbar-home:hover {
  padding: 0.55em 0;
  border-bottom: 4px solid #a5aac4;
  color: white;
}
.navbar-logo-container {
  margin: auto;
}
.navbar-logo {
  padding: 0.7em 4em;
  background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif");
  background-size: 6.5em;
  background-repeat: no-repeat;
}